<footer class="footer mt-0">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        Solutions Plus
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="fas fa-heart"></i> by
            <a href="#" target="_blank">SolutionsPlus</a> for a better web.
        </div>
        <!-- your footer here -->
    </div>
</footer>