<div class="card card-product ">

    <h2 class="text-center pt-2">
        <a class="text-primary"  href="{{ path('pays_index') }}">
        <i class="fas fa-th-list"></i> Retour à la liste
        </a></h2>
</div>
