{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}

    {% include 'partials/nav.html.twig' %}

    <div class="col-md-9 mx-auto">
        <div class="card mt-3">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="card-header card-header-info card-header-text">
                    <div class="card-text">
                        <h4 class="card-title">Créer un nouveau Pays </h4>
                    </div>
                </div>
                <div class="card-content px-5 py-2 ">
                    {{ include('pays/_form.html.twig') }}
                    <button class="btn btn-info btn-fill btn-wd ajout ">{{ button_label|default('Ajouter') }}</button>
                </div>
        </div>
    </div>


{% endblock %}
